<?xml version="1.0" encoding="UTF-8" ?>

<launch>
  <node pkg="ncsist_gui" type="ncsist_gui" name="ncsist_gui" output="screen">
  </node>

  <!-- <node pkg="ncsist_gui" type="pub.py" name="pub" output="screen"></node> -->

  <node pkg="ncsist_gui" type="ui_server.py" name="ui_server" output="screen">
    <!-- <remap from="camera/color/image_raw" to="/husky1/camera_middle/color/image_raw"/>
    <remap from="camera/aligned_depth_to_color/image_raw" to="/husky1/camera_middle/aligned_depth_to_color/image_raw"/>
    <remap from="camera/color/camera_info" to="/husky1/camera_middle/color/camera_info"/>
    <remap from="artifact_pose" to="/husky1/artifact_pose"/> -->
  </node>
</launch>
